```css
body{
font-family:Segoe UI,sans-serif;
}

.module-content{
display:none;
}

.module-content.active{
display:block;
}

.nav-link{
transition:.2s;
}

.nav-link.active{
background:#164e63;
border-left:4px solid cyan;
}

.flashcard{
cursor:pointer;
perspective:1000px;
}

.card-inner{
height:180px;

position:relative;

transform-style:preserve-3d;

transition:.6s;
}

.flashcard.flipped .card-inner{
transform:rotateY(180deg);
}

.card-front,
.card-back{

position:absolute;

width:100%;
height:100%;

display:flex;

align-items:center;

justify-content:center;

padding:20px;

border-radius:16px;

backface-visibility:hidden;

font-size:22px;

}

.card-front{
background:#164e63;
}

.card-back{
background:#0f766e;

transform:rotateY(180deg);
}
```
